body {
    text-align: center;
    background-color: black;
    color: #d7d7d7;
}
.nome_completo {
    font-size: 50px;
}

.posicao {
    font-size: 40px;
}

.descricao {
    font-size: 40px;
}

.nascimento {
    font-size: 40px;
}

.altura_peso {
    font-size: 40px;
}

.home {
    background-color: #d7d7d7;
}

.home:hover {
    transform: scale(1.05);
    transition: transform 0.1 ease;
}

.home:active {
    transform: scale(0.9);
}